html{
    background-color: cornsilk;
}
body{
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: xx-large;
    font-style: oblique;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button{
    margin: 20px;
}
div{
    display: none;
    margin: 20px auto;
}

img{
    display: block;
    margin: auto;
}

p{
    width: 800px;
    margin: auto;
}